/***************************************************
LAYOUT
/***************************************************/
.vp-theme-container {
  display: flex;
  height: 100vh;
}

.vp-content {
  flex-grow: 1;
  overflow: auto;
}

.vp-page {
  padding: 0;
}
